apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16
          envFrom:
            - secretRef:
                name: postgres-secret

          ports:
            - containerPort: 5432

          volumeMounts:
            - name: init
              mountPath: /docker-entrypoint-initdb.d

            - name: data
              mountPath: /var/lib/postgresql/data

      volumes:
        - name: init
          configMap:
            name: postgres-init

        - name: data
          emptyDir: {}
